:root
{
  --color-main: cyan;
  --color-text: white;
}
*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



#ifor,#product-highlight{
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
#footer{
 
 color:var(--color-text) !important;
 background-color: rgba(0, 0, 0, 0.589) !important;
  text-align: center;
}
.lit-star,.fa-star:hover{
  color: yellow !important;
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: rgba(255, 166, 0, 0.829)!important;
  
}
.na{
  background-color: cyan !important;
  
}
.na a{
 
  color: rgb(255, 255, 255) !important;
}

